<h1>API Help</h1>
<h2>Overview</h2>
<p>This API makes use of <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">RESTful HTTP</a> style for communication.</p>
<p>To create a new record, POST the records data as key/value pairs in standard HTTP POST format to the endpoint, not including a relevant primary key</p>
<h5>Creating a new record example</h5>
<h6>Request</h6>
<p>
  URL: http://<?=$_SERVER['HTTP_HOST']?>/<?=$controller?>/user.<?=$default_format?><br>
  HTTP METHOD: POST/PUT<br>
  Post Data: username=user1&amp;email=test%40test.com&amp;name=Test+Testerson
</p>
<h6>Response</h6>
<pre><?=htmlentities(partial("user_example_response", array(), "xml"))?></pre>
<p>To update an existing record, POST the records data as key/value pairs in standard HTTP POST format to the endpoint, including the relevant primary key</p>
<h5>Updating an existing record example</h5>
<p><strong>Note the difference between this and the above example, this one has an id added on the end of the url to indicate updating an existing record</strong></p>
<h6>Request</h6>
<p>
  URL: http://<?=$_SERVER['HTTP_HOST']?>/<?=$controller?>/user/1.<?=$default_format?><br>
  HTTP METHOD: POST/PUT<br>
  Post Data: username=user2
</p>
<h6>Response</h6>
<pre><?=htmlentities(partial("user_example_response", array("username"=>"user2"), "xml"))?></pre>
<p>To delete an existing record, send an HTTP DELETE to the endpoint, including the relevant primary key</p>
<h5>Deleting a record example</h5>
<p><strong>Note the delete method returns the deleted object.</strong></p>
<h6>Request</h6>
<p>
  URL: http://<?=$_SERVER['HTTP_HOST']?>/<?=$controller?>/user/1.<?=$default_format?><br>
  HTTP METHOD: DELETE
</p>
<h6>Response</h6>
<pre><?=htmlentities(partial("user_example_response", array("username"=>"user2"), "xml"))?></pre>
<p>To fetch one or many records, use a HTTP GET request to the endpoint. Include the relevant primary key to fetch only 1 record, or filter to fetch many records matching the relevant filter</p>
<h5>Fetching a record example</h5>
<h6>Request</h6>
<p>
  URL: http://<?=$_SERVER['HTTP_HOST']?>/<?=$controller?>/user/1.<?=$default_format?><br>
  HTTP METHOD: GET
</p>
<h6>Response</h6>
<pre><?=htmlentities(partial("user_example_response", array("username"=>"user2"), "xml"))?></pre>
<h2>Filters</h2>
<p>Each endpoint includes a number of filters, allowing you to filter the data you receive. Most of the time columns can be filtered on directly using a filter matching the name of the column, the provided value will be tested for an exact match to the specified column. Standard Filters will behave just like columns, testing for an exact match to the specified value.</p>
<p>Custom filters can also be included e.g. returning all results above or below a certain value or nearby a certain place etc. Each custom filter will have documentation explaining the use in the relevant endpoint section below.</p>
<p>Please use filters where possible, to reduce the volume of data transferred. Some endpoints will have certain required filters that must be set for each request, in these cases they will be mentioned in the endpoint section.</p>
<h2>Primary Keys</h2>
<p>Primary keys will generally be integers and have the field name "id", where different this will be mentioned in the endpoint section.</p>
<h2>Endpoints</h2>
<p>Below is a list of all the data endpoints in the api.</p>
<?foreach($doc_classes as $class => $data):?>
  <h3><?=capitalize($class)?></h3>
  <?=$data['model']->api_help?$data['model']->api_help:""?>
  <p>Endpoint url: <a href="http://<?=$_SERVER['HTTP_HOST']?>/<?=$controller?>/<?=$class?>.<?=$default_format?>">http://<?=$_SERVER['HTTP_HOST']?>/<?=$controller?>/<?=$class?>.<?=$default_format?></a></p>
  <p>Primary key: <?=$data['model']->primary_key?>
  <h4>Columns</h4>
  <ul>
  <?foreach($data['model']->columns as $col_name => $col_data):?>
    <li><?=$col_name?> (<?=$col_data[0]?>)</li>
  <?endforeach?>
  </ul>
  <?if($data['std_filters']):?>
  <h4>Standard Filters</h4>
  <ul>
    <?foreach($data['std_filters'] as $filter):?>
      <li><?=$filter?></li>
    <?endforeach?>
  </ul>
  <?endif?>
  <?if($data['filters']):?>
  <h4>Custom Filters</h4>
  <?foreach($data['filters'] as $filter => $docs):?>
    <h5><?=$filter?></h5>
    <pre><?=$docs?></pre>
  <?endforeach?>
  <?endif?>
  <h4>Example</h4>
  <?
    $layout = new WaxTemplate(array("content_for_layout"=>partial($class, array("model"=>new WaxRecordset($data['model'], array($data['model']->row))), $default_format)));
    $layout->add_path(VIEW_DIR."layouts/application");
    foreach((array)Autoloader::view_paths("plugin") as $path) $layout->add_path($path."layouts/application");
    $example_view = $layout->parse($default_format);
    if(class_exists("tidy", false)){
      $tidy_options = array(
        'input-xml'    => true,
        'output-xml'   => true,
        'indent'       => true,
        'wrap'         => false
      );
      $tidy = new tidy;
      $tidy->parseString($example_view, $tidy_options, "utf8");
      $tidy->cleanRepair();
      $example_view = (string)$tidy;
    }
  ?>
  <pre><?=htmlentities($example_view)?></pre>
<?endforeach?>
<?=partial("application_help")?>